
<div class="container text-center">
  <div id="footer">
    <p class="muted credit"><a href="https://hqanalytics.net">HQ Analytics Inventory Management System</a> &copy; 2013-2017</p>
  </div>
</div>
