<div class="jumbotron">
  <div class="row">
    <div class="span3">
      <img alt="Logo" class="logo" src="/images/rims-icon.png">
    </div>

  <div class="span7">
    <h2>Powerful Inventory Software Made Easy</h2>

    <p>The complete inventory
      management system for
      your business.</p>

    <h2>Real-time collaboration</h2>
    <p>One System for Your Entire Company
      Eliminate IT costs and concerns associated with maintaining and upgrading separate applications.</p>

    <p>Real-time Inventory Visibility
      Enjoy real-time, detailed visibility into key inventory control and supply chain management measures, including inventory trends, stock on order and supplier on-time performance.</p>
  </div>

  </div>
</div>